@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');
body {
  font-family: 'Raleway', sans-serif;
  /* background: rgb(210, 147, 255); */
  background: #cc9966;
  overflow-x: hidden;
  width: auto;
}
.grid-container {
  padding: 5px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
h3 {
  font-size: 1.1rem;
}
p {
  line-height: 1.25em;
}
header {
  /* background: #FFF; */
  padding: 0 auto;
  margin: 0 auto;
  /* border-radius: 5px; */
  /* margin-left: 10px; */
  /* border-bottom: 2px solid rgb(210, 147, 255); */
}
footer {
  /* background: #FFF; */
  width: auto;
  padding: 0 auto;
  margin: 10px auto;
  /* padding: 10px;
  margin: 5px; */
  /* border-radius: 5px; */
}
.menu {
  margin: 10px 3px;
  padding: 10px;
  /* display: block; */
}
/* ol.menu {
  text-align: center;
} */
img {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}
/* NAV STYLES */
nav a:link, nav a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1em;
}
nav a:hover {
  color: #FFF;
  /* background: #FFF; */
  /* border: 1px solid black;
  border-radius: 5px; */
}
nav a.current {
  color: #FFF;
}
/* End of Nav Styles */
a:link, a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1em;
}
a:hover {
  color: #FFF;
  /* background: #FFF;
  border: 1px solid black; */
}
a:current {
  color: #FFF;
}
