/* * {
  background: pink;
} */
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Raleway');
body {
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poiret One', cursive;
}
h2 {
  font-size: 1.35rem;
}
p {
  line-height: 1.25em;
}
header, footer {
  background: pink;
  height: auto;
  margin-bottom: 15px;
}
.menu {
  margin: 20px;
  padding-top: 10px;
}
